<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
 <title>Title</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
<div class="container-fluid">
<header>
  <center><img src="{% static 'img/logo.png' %}" height="100px" width="100px"></center>
<nav class="navbar navbar-expand-lg navbar-light bg-light text-light">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-light" aria-current="" href="{% url 'shop:category' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            shop
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="{% url 'shop:category' %}">All Categories</a>
              {% for i in links %}
               <li><a class="dropdown-item" href="{% url 'shop:productview' i.slug %}">{{i.name}}</a></li>
            {% endfor %}
            </li>
            </ul>
        <li class="nav-item">
          {% if user.is_authenticated %}
           <li class="nav-item">
          <a class="nav-link text-light" href="{% url 'shop:logout' %}">logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="{% url 'cart:yourorder' %}">Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" aria-current="" href="{% url 'cart:cart_view' %}"><i class="fa-solid fa-cart-shopping"></i>{{item_count}}</a>
        </li>
        {% else %}
        <a class="nav-link text-light" aria-current="" href="{% url 'shop:register' %}">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" aria-current="" href="{% url 'shop:login' %}">login</a>
        </li>
        {% endif %}
          </ul>
        </li>

      <form class="d-flex px-4" style="position:absolute; right:0;" action="{% url 'search:searchresult' %}" method="POST">
        {% csrf_token %}
        <input class="form-control me-2 mx-1" type="search" name="q" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success mx-1" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
    </div>
    </div>
   </nav>
</header>
{% block content %}
{% endblock %}
</div>
</body>
  <div>
    <p></p>
  </div>
  <div>
    <p></p>
  </div>
<footer style="bottom:0; position:fixed; ">
  <div style="position:relative; left:45%;">
  <p class="textcolor py-4"><i class="fa-solid fa-copyright"></i>Myshop pvt ltd.Alll rights reserved.</p>
  </div>
</footer>
</div>
</html>