{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid my-3">

   <img src="{% static 'img/banner1.jpg' %}" height="400px" width="100%">

</div>
<div>
   <h1 class="text-center">Our Collections</h1>
   <p class="text-justify text-padding">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
</div>
<div class="container-fluid my-4 py-5 d-flex aligns-items-center justify-content-center card text-center mx-auto bg-light">
<div class="row mx-auto" style="text-allign:center;">
{% for i in c %}
<div class="card mx-4" style="width: 18rem;">
  <img class="card-img-top" src="{{i.image.url}}" alt="Card image cap" height="170px"; width="80px";>
  <div class="card-body">
    <h5 class="card-title">{{i.name}}</h5>
    <a href="{% url 'shop:productview' i.slug %}" class="btn btn-primary" id="links">Click to view</a>
  </div>
</div>
{% endfor %}
</div>
</div>
{% endblock %}