{% extends 'base.html' %}
{% block content %}
<div class="container">
<div class=" mx-5 my-3">

  <form method="POST" enctype="multipart/form-data" class="mx-5">
        {% csrf_token %}
   <div class="mb-3">
  <label  class="form-label">Username</label>
  <input type="text" class="form-control" name="u" placeholder="Enter username">
</div>

   <div class="mb-3">
  <label  class="form-label">Password</label>
  <input type="password" class="form-control"  name="p" placeholder="Enter password">
</div>
     <div class="mb-3">
  <input type="submit" class="form-control bg-secondary">
</div>

</form>
    </div>
{% if messages %}
   {% for i in messages %}
    <ul class="messages">
        <li>{{i}}</li>
    </ul>
    {% endfor %}
    {% endif %}
    </div>
{% endblock %}