{% extends 'base.html' %}
{% load static %}
{% block content %}
<center>
    <div>
        <h3>You have searched for {{query}}</h3>
    </div>
</center>

<div class="container-fluid my-4 py-5 d-flex aligns-items-center justify-content-center card text-center mx-auto bg-light">
<div class="row mx-auto" style="text-allign:center;">
{% for i in products %}
<div class="card mx-4" style="width: 18rem;">
  <img class="card-img-top" src="{{i.image.url}}" alt="Card image cap" height="170px"; width="80px";>
  <div class="card-body">
    <h5 class="card-title">{{i.name}}</h5>
      <p>{{i.description}}</p>
    <a href="{% url 'shop:product' i.slug %}" id="links" class="btn btn-primary">Click to view</a>
  </div>
</div>
{% empty %}
    <div>
        <p>0 result found</p>
    </div>
{% endfor %}
</div>
</div>


{% endblock %}